# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TS cache
*.tsbuildinfo

# IDEs
.idea/

# MacOS & Linux junk
.DS_Store
Thumbs.db
